#battle-screen-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#summary-text {
    font-size: 45px;
}

.battle-screen-player-summary {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}