#battle-screen-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.battle-screen-player-summary {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* #battle-screen-summary-player-svg rect {
    stroke-width: 3px;
    stroke: black;
} */

@media (max-width: 600px) {
    #player-silhouettes {
        /* flex-direction: column; */
    }
    .summary-silhouette {
        stroke-width: 4;
    }
}

@media(max-height: 700px) {
    #battle-screen-player {
        font-size: 25px;
    }
    .battle-screen-player-summary {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0;
        padding-top: 0;
    }
}