
.silhouette-part {
    transition-duration: 1s;
}

.damaged {
    transition-duration: 1s; 
    filter: hue-rotate(352deg) invert(44%) sepia(90%) saturate(7465%) brightness(601%) contrast(104%);
}

.killed {
    transition-duration: 1s; 
    filter: hue-rotate(352deg) invert(44%) sepia(90%) saturate(7465%) brightness(101%) contrast(104%);
}

.bar-fill-view {
    transition: 0.5s;
}

.svg-silhouette .hidden {
    
}

.bar-background-view {
    transition: 0.5s;
}

.no-opacity {
    transition: 0.5s;
    opacity: 0;
}
