
.silhouette-part {
    stroke-width: 3px;
    stroke: green;
    transition-duration: .3s;
}

#battle-screen-summary .silhouette-part {
    stroke: black;
}

#battle-screen-selections .silhouette-part:hover {
    cursor: pointer;
    fill: green;
    cursor: pointer;
    transition-duration: .3s;
}

#battle-screen-selections .filled-body-part {
    fill: green;
}

#battle-screen-selections .filled-body-part:hover {
    fill: green;
}

path {
    pointer-events: all;
}

.damaged {
    transition-duration: 1s; 
}

.killed {
    transition-duration: 1s; 
}

.circle-bar-amount {
    fill: black;
    stroke: green;
}

.circle-bar-fill-view {
    transition: stroke-dashoffset 1s linear;
    stroke: green;
    stroke-width: 12px;
    fill: none;
}

.bar-fill-view {
    transition: 0.5s;
}

.body-part-ui-group {
    pointer-events: none;
}

/* .svg-silhouette .hidden {
    
} */

.bar-background-view {
    transition: 0.5s;
}

.no-opacity {
    transition: 0.5s;
    opacity: 0;
}
