#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

#player-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-description-name {
    text-transform: uppercase;
    font-size: 50px;
}

#player-description-image {
    margin-top: 20px;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    display: block;
}

.player-description-rating {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.player-description-rating-name {
    font-size: 30px;
}

@media(max-height: 650px) {
    #player-description-image {
        max-width: 250px;
        max-height: 250px;
    }
    #player-description-name {
        text-transform: uppercase;
        font-size: 40px;
    }
    .player-description-rating-name, .player-description-rating-value {
        font-size: 25px;
    }
}

