
html {
    -webkit-appearance: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 255, 0);
    margin: auto;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

img {
    object-fit: cover;
}

.imported-data, .hidden {
    display: none !important;
}

.switch-button {
    cursor: pointer;
    margin: 10px 10px;
    height: 80px;
    max-width: 220px;
    width: 100%;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    text-transform: uppercase;
    background-color: green;
    border: none;
    transition-duration: 0.1s;    
    border-radius: 0;
    -webkit-border-radius: 0; 
    -webkit-appearance: none;
}

@media (hover: hover){ 
    .switch-button:hover{
        color: black;
        background-color: #00ff00; 
        transition-duration: 0.3s;
    }
}
