html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(42, 165, 42);
    margin: auto;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

img {
    object-fit: cover;
}

.imported-data, .hidden {
    display: none !important;
}

.switch-button {
    margin: 10px 10px;
    height: 80px;
    max-width: 220px;
    width: 100%;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    text-transform: uppercase;
    background-color: green;
    border: none;
    transition-duration: 0.1s;
}

@media (hover: hover){ 
    .switch-button:hover{
        background-color: greenyellow; 
        transition-duration: 0.1s;
    }
}
