
#versus-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /* <--- FIX THIS LATER */
}

#versus-screen .player-bar-container {
    margin-left: 5px;
}

#versus-text {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.versus-screen-player-display {
    max-width: 300px;
    width: 100%;
}

.versus-screen-player-stats {
    display: flex;
    justify-content: center;
}

.versus-screen-player-display-name {
    font-size: 45px;
    text-align: center;
}

.versus-screen-player-portrait {
    display: block;
    width: 150px;
    height: 150px;
    background-color: rgb(243, 243, 243);
    border-width: 3px;
    border-color: rgb(42, 165, 42);
}

#player-right > .player-portrait {
    margin-left: auto;
    margin-right: 0;
}

@media(max-height: 700px) {
    #versus-text {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .versus-screen-player-portrait {
        width: 120px;
        height: 120px;
    }
    .versus-screen-player-display {
        max-width: 250px;
    }
}