#win-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    min-height: 100vh; /* <--- FIX THIS LATER */
}

#win-screen-winner-portrait {
    max-width: 400px;
    max-height: 400px;
    height: 100%;
    width: 100%;
    display: block;
}

#win-screen-message {
    font-size: 40px;
    color: gold;
    text-align: center;
}

#win-screen > .switch-button {
    background-color: gold;
}

@media (max-width: 600px) {
    #win-screen-winner-portrait {
        max-width: 200px;
        max-height: 200px;
    }
    #win-screen-message {
        font-size: 30px;
    }
}